*
{
	margin: 0;
	padding: 0;
}
table
{
	width: 33%;
}
table,thead,td,th
{
	border-collapse: collapse;
	margin: 5px;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
}
thead tr
{
	border-bottom: 1px solid #8D8B8B;
}
thead
{
	background-color: #56b906;
	color: white;
}
.grayrow
{
	background-color: #E4E4E4;
}
.sidebordered
{
	border-left:  1px solid #8D8B8B;
	border-right: 1px solid #8D8B8B;
}
